<div class="homepage-banner">
	<a class="image" href="[@url@]" style="background:url('[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%END asset_url%]') no-repeat center center;">
		<div class="embed-container">
			<iframe src="[%url type:'content' id:'108' nohost:'1'%][%end url%]" frameborder="0" style='border:0'></iframe>
		</div>
		<!--<img src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%END asset_url%]" class="visible-xs"/>-->
		<div class="caption-banner">
			<div class="headline">[@headline@] <span>[%format type:'text' nohtml:'1' trim:'LE2R' wordlength:'27'%][@description@][%END format%]</span></div>
		</div>
	</a>
</div>
