<div class="flex-item" itemtype="http://schema.org/Article">
	<div class="crew">
		<a href="javascript:void(0)" data-target="#four-crew-[@id@],#four-crew-arrow-[@id@]" data-toggle="collapse" alt="[@content_name@]" class="crew-image"><img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'/assets/default_product.gif'%][%END ASSET_URL%]" width="100%"/></a>
		<a href="javascript:void(0)" data-target="#four-crew-[@id@],#four-crew-arrow-[@id@]" data-toggle="collapse" itemprop="url" class="crew-name">[@content_name@]</a>
		<div class="arrow-up collapse" id="four-crew-arrow-[@id@]"><img src="[%ntheme_asset%]img/arrow-up-2.png[%/ntheme_asset%]"/></div>
	</div>
	<div class="crew-content collapse" id="four-crew-[@id@]">
		<hr/>
		<div class="crew-padding">
			<div class="row">
				<div class="hidden-xs col-sm-4">
					<img src="[%ASSET_URL type:'content' id:'[@content_id@]' default:'/assets/default_product.gif'%][%END ASSET_URL%]" width="100%"/>
				</div>
				<div class="col-xs-12 col-sm-8">
					<h3>[@content_name@]<span>[@content_short_description1@]</span></h3>
					<div class="crew-desc">
						[@content_description1@]
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
