<div class="extra-options">
	[%multilevelpricing id:'[@SKU@]'%]
		[%PARAM *header%]
		<hr />
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th colspan="2">
						Buy In Bulk &amp; Save!
					</th>
				</tr>
			</thead>
			<tbody>
				[%END PARAM%]
				[%PARAM *body%]
				<tr>
				<td width="20%" nowrap="nowrap">
				<span class="productmultilevelqty">Buy [%FORMAT type:'number' dp:'0' sp:','%][@minqty@][%END FORMAT%]
				[%IF [@maxqty@] > 0%]
				to [%FORMAT type:'number' dp:'0' sp:','%][@maxqty@][%END FORMAT%]:
				</span>
				</td>
				[%ELSE%]
				or more:
				</span>
				</td>
				[%END IF%]
				<td nowrap="nowrap">
				<span class="productmultilevelprice"> Pay [%FORMAT type:'currency'%][@price@][%END FORMAT%]</span>
				</td>
				</tr>
				[%END PARAM%]
				[%PARAM *footer%]
			</tbody>
		</table>
		[%END PARAM%]
	[%END multilevelpricing%]
	<!-- PRODUCT OPTIONS -->
	[%extra_options id:'[@SKU@]'%]
		[%PARAM *header%]
		<hr />
		<table class="table table-striped table-bordered">
			<tr>
				<th colspan="2">
					Available Options
				</th>
			</tr>
			[%END PARAM%][%PARAM *number_option%]
				<tr>
					<td>
						<label>[@name@]</label>
					</td>
					<td>
						<input name="extra[@count@]" class="form-control" id="productextra[@count@]" rel="[@SKU@]" value="">
					</td>
				</tr>
			[%END PARAM%][%PARAM *text_option%]
				<tr>
					<td>
						<label>[@name@]</label>
					</td>
					<td>
						<textarea name="extra[@count@]" [%if [@length@]%]maxlength="[@length@]"[%/if%]class="form-control" id="productextra[@count@]" rel="[@SKU@]" cols="20"></textarea>
					</td>
				</tr>
			[%END PARAM%]
			[%PARAM *select_option%]
				<tr>
					<td>
						<label>[@name@]</label>
					</td>
					<td>
						<select name="extra[@count@]" class="form-control" id="productextra[@count@]" rel="[@SKU@]">
							[@choices@]
						</select>
					</td>
				</tr>
			[%END PARAM%]
			[%PARAM *choices%]
				<option type="text" class="form-control" value="[@option_id@]">[%nohtml%][@text@][%end nohtml%]
				[%DATA id:'price' if:'!=' value:'0'%]
					(+ [%FORMAT type:'currency'%][@price@][%END FORMAT%])
				[%END DATA%]
				</option>
			[%END PARAM%]
			[%PARAM *footer%]
			<input type="hidden" name="extras" value="[@total_options@]"/>
		</table>
		[%END PARAM%]
	[%END extra_options%]
	[%data id:'multiplier_qty' if:'ne' value:'0' %]
	Order In Lots Of <strong>[@multiplier_qty@]</strong>
	[%end data%]
	[%data id:'min_qty' if:'ne' value:'0' %]
	Minimum Order Quantity <strong>[@min_qty@]</strong>
	[%end data%]
	[%data id:'max_qty' if:'ne' value:'0' %]
	Maximum Order Quantity <strong>[@max_qty@]</strong>
	[%end data%]

	<!--[%IF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@]%]
		<div class="preorder-notice">
			<i class="fa fa-clock-o" aria-hidden="true"></i> [%content_zone id:'preorder-notice'%][%end content_zone%]
		</div>
	[%/IF%]-->

	[%IF [@store_quantity@] > 0 AND [@preorder@] %]
	<div class="row">
		<div class="col-xs-0 col-sm-3 col-md-3"></div>
		<div class="col-xs-12 col-sm-9 col-md-9">
			<p class="alt-box alt-time"><span>[%content_zone id:'preorder-message'%][%end content_zone%]</span></p>
		</div>
	</div>
	[%ELSEIF [@store_quantity@] > 0 AND ![@preorder@] %]

	[%ELSEIF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12">
			<p id="alt-backorder" class="alt-box alt-time"><span><i class="far fa-clock"></i> [%content_zone id:'backorder-message'%][%end content_zone%]</span></p>
			<p id="alt-preorder" class="alt-box alt-time" style="display: none;"><span>[%content_zone id:'preorder-message'%][%end content_zone%]</span></p>
		</div>
	</div>
	[%ELSE%]
	<div class="row">
		<div class="col-xs-0 col-sm-3 col-md-3"></div>
		<div class="col-xs-12 col-sm-9 col-md-9">
			<p class="alt-box"><span>Out stock</span></p>
		</div>
	</div>
	[%END IF%]
	<form class="buying-options" autocomplete="off">
		<input type="hidden" id="model[@rndm@][@SKU@]" name="model" value="[@model@]">
		<input type="hidden" id="thumb[@rndm@][@SKU@]" name="thumb" value="[@thumb@]">
		<input type="hidden" id="sku[@rndm@][@SKU@]" name="sku" value="[@SKU@]">
		<div class="row btn-stack">
			<div class="col-xs-4 col-sm-3 col-md-3">
				<select id="qty[@rndm@][@SKU@]" name="qty" class="form-control input-tiny theQty">
                    [%if [@store_quantity@] > 0 %]
                        <option selected>1</option>
                        [%set [@data:qty-count@] = 0 /%]
                        [%while [@data:qty-count@] <= 11%]
                            [%set [@data:qty-count@] = [@data:qty-count@]+1 /%]
                            <option>[%calc [@data:qty-count@]+ 1 /%]</option>
                        [%/while%]
                    [%elseif [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
                        <option selected>1</option>
                        [%set [@data:qty-count@] = 0 /%]
                        [%while [@data:qty-count@] <=9999%]
                            [%set [@data:qty-count@] = [@data:qty-count@]+1 /%]
                            <option>[%calc [@data:qty-count@]+1 /%]</option>
                        [%/while%]                                                        
                    [%else%]
                        <option selected disabled>1</option>
                    [%/ if%]
                </select>
			</div>
			<div class="col-xs-8 col-sm-9 col-md-9">
				<input type="hidden" value="[@preorder@]">
				[%IF [@store_quantity@] > 0 AND [@preorder@] %]
				<button type="button" title="Add to Cart" class="addtocart btn btn-warning btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Pre-Order Now</button>
				[%ELSEIF [@store_quantity@] > 0 AND ![@preorder@] %]
				<button type="button" title="Add to Cart" class="addtocart btn btn-success btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Add to Cart</button>
				[%ELSEIF [@store_quantity@] < 1 AND [@config:ALLOW_NOSTOCK_CHECKOUT@] %]
				<button id="backoder" type="button" title="[%content_zone id:'preorder-button'%][%end content_zone%]" class="addtocart btn btn-warning btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">[%content_zone id:'preorder-button'%][%end content_zone%]</button>
				<button style="display: none;"  id="preorder" type="button" title="Add to Cart" class="addtocart btn btn-warning btn-block btn-lg btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" rel="[@rndm@][@SKU@]">Pre-Order Now</button>
				[%ELSE%]
				<a class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#notifymodal">Notify Me</a>
				[%END IF%]
			</div>
		</div>
	</form>
	[%if [@config:show_wishlist@]%]
		<!--<div class="product-wishlist">
			[%IN_WISHLIST id:'[@SKU@]' %]
			[%PARAM if_true%]
				<a class="wishlist_toggle" rel="[@SKU@]"><span class="remove" rel="wishlist_text[@SKU@]"><i class="fa fa-heart"></i></span></a>
			[%END PARAM%]
			[%PARAM if_false%]
				<a class="wishlist_toggle" rel="[@SKU@]"><span class="add" rel="wishlist_text[@SKU@]"><i class="fa fa-heart-o"></i> Add to Wishlist</span></a>
			[%END PARAM%]
			[%END IN_WISHLIST%]
		</div>-->
	[%/if%]
	[%if [@config:show_shipping_calc@]%]
	<!--<hr/>
	<div class="panel panel-default" id="shipbox">
		<div class="panel-heading">
			<h3 class="panel-title">Calculate Shipping</h3>
		</div>
		<div class="panel-body">
			<div class="row btn-stack">
				<div class="col-xs-12 col-md-3">
					<input type="number" name="input" id="n_qty" value="[@qty@]" size="2" class="form-control" placeholder="Qty">
				</div>
				<div class="col-xs-12 col-md-3">
					<select id="country" class="form-control">
						[%countries%]
							[%PARAM *body%]
								<option value="[@country_code@]" [%if [@country_code@] eq [@ship_country@]%]selected[%/if%]>[@country_name@]</option>
							[%END PARAM%]
						[%END countries%]
					</select>
				</div>
				<div class="col-xs-12 col-md-3">
					<input type="text" name="input" id="zip" value="[@ship_zip@]" size="5" class="form-control" placeholder="Post Code">
				</div>
				<div class="col-xs-12 col-md-3">
					<button type="button" class="btn btn-block btn-primary btn-loads" data-loading-text="<i class='fa fa-refresh fa-spin' style='font-size: 14px'></i>" onClick="javascript:$.load_ajax_template('_buying_options', {'showloading': '1', 'sku': '[@SKU@]', 'qty': $('#n_qty').val() , 'ship_zip': $('#zip').val(), 'ship_country': $('#country').val()}),$(this).button('loading');" title="Calculate"><i class="fa fa-refresh"></i> Calculate</button>
				</div>
			</div>
			[%shipping_methods sortby:'delivery_time' sku:'[@SKU@]' qty:'[@qty@]' zip:'[@ship_zip@]' country:'[@ship_country@]'%]
				[%PARAM *header%]
					<br />
				[%END PARAM%]
				[%PARAM *body%]
					<hr />
					<strong>[@shipping_method@]</strong> - [%format type:"currency"%][@cost@][%END format%] [%IF [@delivery_time@]%](ETA: [@delivery_time@] days)[%END IF%]<br />
					<i class="text-muted">[@shipping_description@]</i>
				[%END PARAM%]
				[%PARAM *footer%]
					</p>
				[%END PARAM%]
				[%PARAM *ifempty%]
					[%if [@ship_zip@]%]<p class="alert alert-danger alert-shipping-error">Shipping not available to selected location.</p>[%/if%]
				[%END PARAM%]
			[%END shipping_methods%]
		</div>
	</div>-->
	[%/if%]
	<!-- End Shipping Options -->
</div>

<div class="modal fade notifymodal" id="notifymodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Notify me when back in stock</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Your Name</label>
					<input placeholder="Jane Smith" name="from_name" id="from_name" type="text" class="form-control" value="[%NOHTML%][@FROM_NAME@][%END NOHTML%]">
				</div>
				<div class="form-group">
					<label>Your Email Address</label>
					<input placeholder="jane.smith@test.com.au" name="from" id="from" type="email" class="form-control" value="[%NOHTML%][@FROM@][%END NOHTML%]">
					<div class="checkbox">
					    <label>
					        <input type="checkbox" value="y" class="terms_box" required/>
					        I have read and agree to
					        <a href="#" data-toggle="modal" data-target="#termsModal">Terms & Conditions</a> and
					        <a href="#" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a>.
					    </label>
					    <span class="help-block hidden">Please tick this box to proceed.</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input class="btn btn-danger" type="button" data-dismiss="modal" value="Cancel">
				<input class="btn btn-success js-notifymodal-in-stock" data-sku="[@sku@]" type="button" value="Save My Details">
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>
