[%CACHE type:'gallery' id:'[@inventory_id@]'%]
<div class="wrapper-thumbnail col-xs-6 col-sm-custom-6 col-sm-4  col-md-4 col-lg-3">
	<div class="thumbnail" itemscope itemtype="http://schema.org/Product">
		<meta itemprop="brand" content="[@brand@]"/>
		<div class="image-color">
			<a href="[@URL@]" class="thumbnail-image">
				<img src="[%asset_url type:'product' thumb:'thumb' id:'[@SKU@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" class="product-image" alt="[@model@]" rel="itmimg[@SKU@]">
			</a>
			<div class="wrap-value">
				
			
			[%if [@has_child@]%]
			<div class="colour-box">
				<div class="colour-box-content nColourList" style="display: block;">
	            [%list_item_variations id:'[@sku@]'%]
	                [%param *variation_body%]
	                    [%if [@specific_name@] eq 'Colour'%]
	                        [%if [@value_image@]%]
	                            <a class="nSwatch" data-variation-image="[%asset_url type:'product' thumb:'thumb' id:'[@variation_sku@]'/%]"  href="[@url@]" style="background-image:url([@value_image@])"></a>
	                        [%else%]
	                            <a class="nSwatch" data-variation-image="[%asset_url type:'product' thumb:'thumb' id:'[@variation_sku@]'/%]"  href="[@url@]" style="background-color:[@value_swatch@];"></a>
	                        [%/if%]
	                    [%/if%]
	                [%/param%]
	            [%/list_item_variations%]
				</div>
		  </div>
	    [%/if%]
	    </div>
		</div>
		<div class="caption">
			<h3 itemprop="name"><a href="[@URL@]" title="[@model@]">[%format type:'text' truemaxlength:'50' rmhtml:'1'%][@model@][%/FORMAT%]</a></h3>
			<p class="sort-dsc">[@short_description@]</p>
			<p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				[%if [@inpromo@]%]
					Now&nbsp;
					<meta itemprop="priceValidUntil" content="[%format type:'date' format:'#Y-#M-#d'%][@promo_end@][%END format%]"/>
					<span itemprop="price" content="[@promo_price@]">[%format type:'currency'%][@promo_price@][%/format%]</span>
				[%else%]
					<span itemprop="price" content="[@store_price@]">[%format type:'currency'%][@store_price@][%/format%]</span>
				[%/if%]
				[%if [@save@] > 0%]
					<span class="label label-default">RRP [%format type:'currency'%][@retail@][%/format%]</span>
				[%/if%]
				<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
			</p>
			[%tracking_code type:'Thumbnails' /%]
		
		</div>
		<div class="savings-container">
			[%if [@inpromo@]%]
				<span class="label label-danger">On Sale</span>
			[%/if%]
		</div>
	</div>
</div>
[%/CACHE%]
